**/*.pkl
**/*.egg-info
**/*.iml

**/pylint.txt
**/*.md

/examples/experimental
/examples/estimator

/node_modules
/package-lock.json

/.idea
/out
/modules.xml

**/*.class
**/*.log
**/*.jar
**/.DS_Store

**/__pycache__
**/.py[cod]
**/*$py.class

**/htmlcov/
**/.pytest_cache/
**/.ipynb_checkpoints
