**/*.egg-info
**/*.iml

**/pylint.txt
**/*.md

/examples/experiments
/tmp

/.idea
/out
/modules.xml

**/*.class
**/*.log
**/.DS_Store

**/__pycache__
**/.py[cod]
**/*$py.class

**/htmlcov/
**/.pytest_cache/
**/.ipynb_checkpoints
