.idea/

*.pyc
*.pkl
*.so
*.pyd
*.npy
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store

sklearn_porter.egg-info
dist
build
bin

src/*.java
src/*.class

examples/tests
examples/cli/*.c
examples/cli/*.java
examples/cli/*.js

.temp/
temp/
tmp
tmp.*
Tmp.*

.ipynb_checkpoints