package main

import (
	{% if is_test %}
	"encoding/json"
	{% endif %}
	"fmt"
	"os"
	"strconv"
)
{% if is_test %}
type response struct {
	Predict int `json:"predict"`
	PredictProba []float64 `json:"predict_proba"`
}
{% endif %}

func predict(features []float64) int {
	var classes [{{ n_classes }}]float64
	{{ tree | indent(4, True) }}

	var idx = 0
	for i := 0; i < len(classes); i++ {
		if classes[i] > classes[idx] {
			idx = i
		}
	}
	return idx
}

func main() {

	// Features:
	var features []float64
	for _, arg := range os.Args[1:] {
		if n, err := strconv.ParseFloat(arg, 64); err == nil {
			features = append(features, n)
		}
	}

	// Get class prediction:
	var prediction = predict(features)
	{% if not is_test %}
	fmt.Printf("Predicted class: %d\n", prediction)
	{% endif %}

	{% if is_test %}
	res, _ := json.Marshal(&response{Predict: prediction, PredictProba: []float64{}})
	fmt.Println(string(res))
	{% endif %}
}