{% extends 'base.exported.class' %}

{% block content %}
var fs = require('fs');


var {{ class_name }} = function(jsonFile) {
    this.data = JSON.parse(fs.readFileSync(jsonFile));

    var Neighbor = function(y, dist) {
        this.y = y;
        this.dist = dist;
    };

    var _findMax = function(nums) {
        var idx = 0;
        for (var i = 0, l = nums.length; i < l; i++) {
            idx = nums[i] > nums[idx] ? i : idx;
        }
        return idx;
    };

    var _compute = function(temp, cand, q) {  // minkowski distance
        var dist = 0., diff;
        for (var i = 0, l = temp.length; i < l; i++) {
            diff = Math.abs(temp[i] - cand[i]);
            if (q === 1) {
                dist += diff;
            } else if (q === 2) {
                dist += diff*diff;
            } else if (q === Number.POSITIVE_INFINITY) {
                if (diff > dist) {
                    dist = diff;
                }
            } else {
                dist += Math.pow(diff, q);
            }
        }
        if (q === 1 || q === Number.POSITIVE_INFINITY) {
            return dist;
        } else if (q === 2) {
            return Math.sqrt(dist);
        } else {
            return Math.pow(dist, 1. / q);
        }
    };

    this.predictProba = function(features) {
        var classProbas = new Array(this.data.n).fill(0);
        var classIdx = 0, i, dist;

        if (this.data.nNeighbors === 1) {
            var minDist = Number.POSITIVE_INFINITY;
            for (i = 0; i < this.data.size; i++) {
                dist = _compute(this.data.X[i], features, this.data.power);
                if (dist <= minDist) {
                    minDist = dist;
                    classIdx = this.data.y[i];
                }
            }
            classProbas[classIdx] = 1;
        } else {
            var dists = [];
            for (i = 0; i < this.data.X.length; i++) {
                dist = _compute(this.data.X[i], features, this.data.power);
                dists.push(new Neighbor(this.data.y[i], dist));
            }
            dists.sort(function compare(n1, n2) {
                return (n1.dist < n2.dist) ? -1 : 1;
            });
            for (i = 0; i < this.data.k; i++) {
                classProbas[dists[i].y] += 1;
            }
            for (i = 0; i < this.data.n; i++) {
                classProbas[i] /= this.data.k;
            }
        }
        return classProbas;
    };

    this.predict = function(features) {
        return _findMax(this.predictProba(features));
    };
};

var main = function () {
    // Features:
    var features = process.argv.slice(3);
    for (var i = 0; i < features.length; i++) {
        features[i] = parseFloat(features[i]);
    }

    // Model data:
    var json = process.argv[2];

    // Estimator:
    var clf = new {{ class_name }}(json);

    {% if is_test or to_json %}
    // Get JSON:
    console.log(JSON.stringify({
        "predict": clf.predict(features),
        "predict_proba": clf.predictProba(features)
    }));
    {% else %}
    // Get class prediction:
    var prediction = clf.predict(features);
    console.log("Predicted class: #" + prediction);

    // Get class probabilities:
    var probabilities = clf.predictProba(features);
    for (var i = 0; i < probabilities.length; i++) {
        console.log("Probability of class #" + i + " : " + probabilities[i]);
    }
    {% endif %}
}

if (require.main === module) {
    main();
}
{% endblock %}